.svelte-kit/
.wrangler/
.yarn/cache/
.yarn/install-state.gz
build/
node_modules/
.env*
!.env.example
*.vars
.gitsecret/keys/random_seed
!*.secret
.env*
!.env.template

# Ignore files for PNPM and PNPM
pnpm-lock.yaml
package-lock.json
