:root {
	--mono-purple: #c695e8;
	--mono-yellow: #fffe72;
	--mono-red: #db6f6f;
	--mono-blue: #609dff;
	--mono-pink: #fe6cfe;
}

body {
	background-color: var(--mono-purple);
	text-align: center;
}

.cibo-kiss {
	height: auto;
	pointer-events: none;
	position: absolute;
	width: auto;
	z-index: 1;
}
