:root {
	--mono-purple: #c695e8;
	--mono-yellow: #fffe72;
	--mono-red: #db6f6f;
	--mono-blue: #609dff;
	--mono-dark-blue: #2f6aca;
	--mono-pink: #fe6cfe;
}

body {
	background-color: var(--mono-blue);
	text-align: center;
	font-family: 'Comic Sans MS', 'Comic Sans';
	font-size: 1.5em;
	font-weight: bold;
	background-image: url('/images/mono_background.png');
	background-size: contain;
	text-shadow:
		-1px 0 5px var(--mono-purple),
		0 1px 5px var(--mono-purple),
		1px 0 5px var(--mono-purple),
		0 -1px 5px var(--mono-purple);
	cursor: url('/images/brush_cursor.png'), auto;
}

a,
a:hover {
	cursor: url('images/brush_cursor_hover.png'), auto;
}

.cibo-kiss {
	height: auto;
	pointer-events: none;
	position: absolute;
	width: auto;
	z-index: 1;
}

@media (max-width: 600px) {
	.painter-image {
		visibility: hidden;
	}
}

p::first-letter {
	font-size: 2em;
	color: var(--mono-yellow);
}

li > b {
	font-size: 1.5em;
	color: var(--mono-red);
}

b::first-letter {
	font-size: 1.75em;
	color: var(--mono-yellow);
}

p,
span,
ul,
li {
	color: var(--mono-dark-blue);
}

.text-content {
	width: 600px;
	background: #fe6cfe;
	background-attachment: local;
	text-align: center;
	border: 5px outset var(--mono-yellow);
	background-image: url('/images/rainbow_pattern.png');
	margin-bottom: 50px;
	padding: 15px;
	position: relative;
	box-shadow: 10px 10px 25px #609dff;
}

.title_hydrangea {
	background-image: url('/images/flower_background.png');
	background-attachment: local;
	margin: 0 25% 50px 25%;
	text-align: center;
	border: 5px outset #29adff;
	padding: 15px;
	box-shadow: 10px 10px 25px #fe77a8;
}

#cibo-list {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.cibo-message {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	background-color: var(--mono-purple);
	border: 5px ridge #9758c0;
	padding: 0.5rem 4rem;
}

.cibo-message > img {
	padding: 2rem 0;
}

.cibo-message > h2 {
	margin: 0;
	text-shadow: none;
}

#container {
	margin-top: 50px;
	margin-left: 20%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#sidebar {
	height: 100%;
	width: 20%;
	box-sizing: border-box;
	background: #cb91e5;
	background-image: url('/images/confetti.gif');
	text-align: center;
	border-right: 5px ridge #9758c0;
	margin: auto;
	top: 0px;
	left: 0px;
	float: left;
	padding: 15px;
	overflow: hidden;
	position: fixed;
	box-shadow: 10px 0px 25px #9758c0;
}
