# ansible-playbook playbooks/setup.yml
---
- name: Setup
  become: true
  gather_facts: true
  hosts:
    - radio
  tasks:
    - name: Disallow SSH password authentication
      ansible.builtin.lineinfile:
        dest: /etc/ssh/sshd_config
        regexp: "^PasswordAuthentication"
        line: "PasswordAuthentication no"
        state: present
        validate: sshd -t -f %s
      register: ssh_config_result

    - name: Restart SSH service if configuration changed
      ansible.builtin.service:
        name: ssh
        state: restarted
      when: ssh_config_result.changed

    - name: Install dependencies
      ansible.builtin.apt:
        pkg:
          - ca-certificates
          - curl
        state: present

    - name: Ensure that the /etc/apt/keyrings dir exists
      file:
        path: /etc/apt/keyrings
        state: directory
        group: root
        owner: root
        mode: 0755

    - name: Add Docker GPG key
      get_url:
        url: https://download.docker.com/linux/debian/gpg
        dest: /etc/apt/keyrings/docker.asc

    - name: Add Docker repo
      ansible.builtin.apt_repository:
        filename: docker
        repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/debian {{ ansible_distribution_release }} stable"
        state: present

    - name: Install Docker packages
      ansible.builtin.apt:
        pkg:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-compose-plugin
        state: present
