:root {
	--mono-purple: #c695e8;
	--mono-yellow: #fffe72;
	--mono-red: #db6f6f;
	--mono-blue: #609dff;
	--mono-dark-blue: #2f6aca;
	--mono-pink: #fe6cfe;
}

* {
	box-sizing: border-box;
}

html {
	min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('/radio/fatfuckspin.gif');
    background-color: white;
    background-size: 100%;
	background-repeat: repeat;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        var(--mono-purple),
        var(--mono-yellow),
        var(--mono-red),
        var(--mono-blue),
        var(--mono-pink),
        var(--mono-dark-blue),
        var(--mono-purple)
    );
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
    opacity: 0.4;
    z-index: -1;
    pointer-events: none;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

.card {
	max-width: 600px;
	margin: auto;
	padding: 10px;
	border: thick ridge var(--mono-purple);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: var(--mono-yellow);
	z-index: 1000;
	gap: 1rem;
}

.flying-mono {
    position: fixed;
	top: 0;
	left: 0;
    width: 100px;
    height: 100px;
    pointer-events: none;
    z-index: 999;
    animation: fly linear;
}

@keyframes fly {
    0% {
        transform: translate(var(--start-x), var(--start-y)) rotate(var(--start-rotation));
    }
    100% {
        transform: translate(var(--end-x), var(--end-y)) rotate(calc(var(--start-rotation) + var(--spin-direction)));
    }
}

.jumping-mono {
	position: fixed;
	bottom: -100px;
	width: 100px;
	height: 100px;
	pointer-events: none;
	z-index: 999;
	animation: jump 0.6s forwards;
}

@keyframes jump {
	0% {
		translate: 0 0;
		animation-timing-function: ease-out;
		transform: rotate(var(--start-rotation));
	}
	50% {
		translate: 0 var(--jump-height);
		animation-timing-function: ease-in;
	}
	100% {
		translate: 0 0;
		transform: rotate(calc(var(--start-rotation) + var(--spin-direction)));
	}
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (width >= 700px) {
	body {
		background-size: 50%;
	}
}

@media (width >= 1400px) {
	body {
		background-size: 25%;
	}
}

.btn {
	border: thin inset;
	border-radius: 0;
	cursor: pointer;
}
